.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 17px;
  padding-right: 15px;
}

.order-total-value {
  color: #171f46;
  font-size: 16px;
  font-family: 'Roboto';
  margin-bottom: 2px;
}

.order-total-label {
  font-size: 16px;
  color: #616e7c;
  font-family: 'Roboto';
  font-weight: 500;
}

.total-items {
  font-size: 12px;
  font-family: 'Roboto';
  color: #616e7c;
  margin-top: 2px;
}

/*.Checkout-btn {
  font-size: 12px;
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  border-radius: 4px;
  padding: 12px 2px;
  margin: 8px 1px;
  outline: none;
  cursor: pointer;
}*/

@media screen and (max-width: 750px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .order-total-value {
    font-size: 32px;
  }
  .order-total-label {
    font-size: 24px;
  }
  .total-item {
    font-size: 16px;
  }
  .d-lg-none {
    display: none;
  }
}

.checkout-btn {
  padding: 12px;
  background-color: #0b69ff;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .checkout-btn {
    align-self: flex-end;
    width: 250px;
  }
}

.popup-content {
  /* width: 100%; */
  /* height: 100%; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.payments-container {
  padding: 25px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.payments-heading {
  margin: 0;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
  color: #1f246a;
}

.payments-sub-heading {
  margin: 15px 0 15px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #1f246a;
}

.payment-method-inputs {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.payment-method-input-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}

.payment-method-input {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.payment-method-label {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #1f246a;
  cursor: pointer;
}

.disabled-label {
  color: #1f246a70;
}

.confirm-order-button {
  background-color: teal;
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: 500;
  color: #fff;
  font-family: 'Roboto';
  font-size: 16px;
  cursor: pointer;
}

.confirm-order-button:disabled {
  opacity: 0.5;
  background-color: #636363;
  cursor: not-allowed;
}

.success-message {
  font-size: 18px;
  color: teal;
  font-weight: 500;
  font-family: 'Roboto';
}

.CloseButton {
  background-color: coral;
  color: aliceblue;
  height: 34px;
  width: 88px;
  margin-top: 12px;
  border: 0px;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
  text-align: center;
}

.closeButtonFlex {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 22px;
}
